*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #cebeee;
  background-image: url(./img/capa.png);
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #333;
} 
p,
label{
  color:#444;
}
input{
  border:none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
input[type="text"],
input[type="number"],
input[type="date"],
textarea{
  width: 400px;
  max-width: 100%;
}
.header{
  background-color:rgb(82, 8, 53, 0.9);
  background-position: center;
  background-size: auto;
  height: 120px;
  width: 56%;
  padding: 20px;
  border-radius:15px;
  text-align: center;
  margin: 0 auto;
}
.header h3{
  color: #fff;
  margin-top: 0;
}
.conteiner-form{
  background-color:#fdfdfd;
  width:60%;
  margin:0 auto;
  position: relative;
  margin-top: -60px;
  border-radius: 15px;
}
.formadostitulos h1,
.formadostitulos p{
  text-align: left;
}
.header-form{
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}
.header-form p{
  color: #673a67;
  border-bottom: 2px solid #673a67;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}
.conteiner-body{
  padding: 30px;
}
.formadostitulos{
  margin-bottom: 20px;
}
.conteiner-body p,
.conteiner-body h1{
  margin: 20px 0;
}
.requerido{
  color: red;
  font-weight: bold;
}
.box-input{
  margin-left: 15px;
  margin-bottom: 35px;
  
}
.block{
  display: block;
}
.opcao-box{
  display:inline-block;
  margin:30px 30px;
}
.opcao-box p{
text-align: center;
  margin-bottom: 10px;

}
.opicional-lista li{
  list-style: none;
  margin-bottom: 5px;
}
.box-input p{
  margin-bottom: 15px;
}
.btn-submit{
  background-color: #673a67;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.btn-submit:hover{
  background-color: #fff;
  color: #673a67;
  border: 2px solid #673a67;
}